* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: "Roboto", sans-serif;
}

body {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  min-height: 100vh; 
  width: 100vw; 
}

.hero {
  background-color: #1F2937; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding-top: 1rem; 
}

header, .intro {
  width: 80%; 
  display: flex; 
  justify-content: space-between; 
}

.intro {
  margin-top: 3rem; 
  margin-bottom: 3rem; 
}

.header-logo > h1 {
  font-size: 24px; 
  color: #F9FAF8;  
}

.intro-description > h1 {
  font-size: 48px; 
  color: #F9FAF8; 
  font-weight: 900; 
  width: 70%; 
  margin-bottom: 2rem; 
}

.header-link > a, .intro-description > p {
  font-size: 18px; 
  color: #E5E7EB;
}

.intro-description > p {
  margin-bottom: 1rem; 
}

#cat-hero {
  height: auto; 
  width: 25rem;  
}

.cat-info {
  margin-top: 4rem;
  width: 70%; 
}

.cat-info > h1 { 
  text-align: center; 
}

.info-box {
  display: flex; 
  justify-content: space-evenly; 
  padding-top: 2rem; 
  padding-bottom: 2rem; 
}

.info > p {
  text-align: center; 
  width: 10rem; 
  height: auto; 
  margin-bottom: 1rem; 
}

.cat-info-pic {
  height: 10rem; 
  width: 10em; 
}

.quote {
  margin-top: 5rem; 
  width: 100%; 
  height: 20rem; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: #E5E7EB; 
}

.quote > h2 {
  width: 70%; 
  font-size: 36px; 
  color: #1F2937; 
  font-weight: 300; 
  font-style: italic;
}

.please-sign-up {
  padding-top: 8rem; 
  padding-bottom: 8rem; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 10rem; 
}

.sign-up-box {
  background-color: #3882F6; 
  width: 80%; 
  display: flex;
  justify-content: center; 
  border-radius: 0.5rem; 
  padding-top: 2rem; 
  padding-bottom: 2rem; 
}

.sign-up-text {
  margin-right: 10rem; 
}

.sign-up-text > h2, .sign-up-text > p {
  color: #E5E7EB; 
}

.sign-up-button {
  margin-left: 10rem; 
  display: flex; 
  align-items: center; 
}

.sign-up-button > button {
  border: 1px solid #E5E7EB; 
  border-radius: 0.5rem; 
  background-color: #3882F6;
  color: #E5E7EB; 
  padding: 1rem; 
  font-weight: bold; 
}

.footer {
  padding-top: 1.5rem; 
  padding-bottom: 1.5rem; 
  width: 100%; 
  text-align: center; 
  background-color: #1F2937; 
  color: #E5E7EB;
}




